<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Workflow of Things</title>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="script.js"></script>
</head>
<body>
<div>
<div>
<nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
       <ul class="nav navbar-nav">
      <li><a href="/">Home<span class="sr-only">(current)</span></a></li>
      <li class="active"><a href="/about">About us</a></li>
      <li><a href="/temp">Tempature Sensor</a></li>
      <li><a href="/motion">Motion Sensor</a></li>
      <li><a href="/tellme">Tell Me More</a></li>
    </ul>
</nav>
</div>
<br/>
<div class="jumbotron"><img src="https://www.nintex.com/-/media/images/nintex/icons/icon-workflow-cloud-md.ashx" style="position: absolute;"/> <p style="position: relative; padding-left: 160px; padding-top: 35px;">
Nintex is easy, point-and-click workflow and content automation that makes collaboration easier—connecting every person, department and system inside or outside of your business. And when nothing gets in the way of the work, work gets done.
</p></div>
</div>
</body>
</html>