<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Workflow of Things</title>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="script.js"></script>
</head>
<body>
<div>
<div>
<nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
       <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
      <li><a href="/about">About us</a></li>
      <li><a href="/temp">Tempature Sensor</a></li>
      <li><a href="/motion">Motion Sensor</a></li>
      <li><a href="/tellme">Tell Me More</a></li>
    </ul>
</nav>
</div>
<br/>
<div class="jumbotron"><img src="https://dudodiprj2sv7.cloudfront.net/vendor-logos/79/0t/3GJC3BSZ31RD-180x180.JPEG" style="position: absolute;"/> <p style="position: relative; padding-left: 160px; padding-top: 35px;">Nintex Workflow Cloud™ is a state-of-the-art cloud workflow platform 
  that gives you an intuitive and powerful set of capabilities to help build workflow 
  processes regardless of the underlying information source.
</p></div>
</div>
</body>
</html>