<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Workflow of Things</title>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script> 
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="script.js"></script>
<script>
  $( function(){
    $("#accordion").accordion();
  });
setInterval(function () {
    //Get Current Time
var newTime = new Date();
$.getJSON('http://10.136.18.26:8484/pi/sensors/pir',
function(data){
    var x = data.value;
    $('#timeVal').html("Last looked at: " + newTime);
    if (x != true) {
            $('#motionVal').html("We have not detected a presence!");
    } else if (x == true) {
        $('#motionVal').html('We have detected someone! Workflow initiated!');
        $("#logger").append("Workflow started at " + newTime +"<br />");
    }
});
}, 1000);
</script>
</head>
<body>
<div>
<div>
<nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
       <ul class="nav navbar-nav">
      <li><a href="/">Home<span class="sr-only">(current)</span></a></li>
      <li><a href="/about">About us</a></li>
      <li><a href="/temp">Tempature Sensor</a></li>
      <li class="active"><a href="/motion">Motion Sensor</a></li>
      <li><a href="/tellme">Tell Me More</a></li>
    </ul>
</nav>
</div>
<br/>
<div class="jumbotron"><img src="https://www.nintex.com/-/media/images/nintex/sections/support/nintex-xchange.ashx" style="position: absolute; padding-left: 10px;"/><div style="position: relative; padding-left: 170px; padding-top: 35px;">
    <h2>PIR Motion Sensor</h2>
    <h2 id="motionVal"></h2>
    <h4 id="timeVal"></h4>
    </div>
</div>
      <div id="accordion">
        <h3>Notification Settings</h3>
        <div>
          <label for="txtEmail">Email Notification</label>
          <input type="email" id="txtEmail" placeholder="first.last@domain.com" />
        </div>
        <h3>Precense Logger</h3>
        <div style="height: 50px; max-height: 100px; ">
            <p id="logger"></p>
        </div>
      </div>
</div>
</body>
</html>