<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Workflow of Things</title>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="script.js"></script>
<script>
setInterval(function () {
    //Get Current Time
var newTime = new Date();
$.getJSON('http://10.136.18.26:8484/pi/sensors/pir',
function(data){
    var x = data.value;
    if (x != true) {
            $('#motionVal').html("We have not detected a presence!");
    } else if (x == true) {
        $('#motionVal').html('We have detected someone! Workflow initiated!');
    }
});
}, 5000);
</script>
</head>
<body>
<div>
<div>
<nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
       <ul class="nav navbar-nav">
      <li><a href="/">Home<span class="sr-only">(current)</span></a></li>
      <li><a href="/about">About us</a></li>
      <li><a href="/temp">Tempature Sensor</a></li>
      <li class="active"><a href="/motion">Motion Sensor</a></li>
      <li><a href="/tellme">Tell Me More</a></li>
    </ul>
</nav>
</div>
<br/>
<div class="jumbotron">
    <h2>Mark 'True' when someone appears!</h2>
    <p id="motionVal"></p>
    <h4 id="timeVal"></h4>
</div>
</div>
</body>
</html>