<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Workflow of Things</title>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="script.js"></script>
</head>
<body>
<div>
<div>
<nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
       <ul class="nav navbar-nav">
      <li><a href="/">Home<span class="sr-only">(current)</span></a></li>
      <li><a href="/about">About us</a></li>
      <li><a href="/temp">Tempature Sensor</a></li>
      <li><a href="/motion">Motion Sensor</a></li>
      <li class="active"><a href="/tellme">Tell Me More</a></li>
    </ul>
</nav>
</div>
<br/>
  <br/>
  <img src="https://www.nintex.com/-/media/images/nintex/icons/icon-workflow-cloud-md.ashx" style="display: block; margin-left: auto; margin-right: auto;" />
  <br />
  <form class="form-horizontal" role="form" style="width: 50%;">
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="name" name="name" placeholder="First & Last Name" value="">
        </div>
    </div>
    <div class="form-group">
        <label for="company" class="col-sm-2 control-label">Company</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="company" name="company" placeholder="Company Name" value="">
        </div>
    </div>
    <div class="form-group">
        <label for="email" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="email" name="email" placeholder="example@domain.com" value="">
        </div>
    </div>
    <div class="form-group">
        <label for="phone" class="col-sm-2 control-label">Phone Number</label>
        <div class="col-sm-10">
            <input type="tel" class="form-control" id="phone" name="phone" placeholder="555-555-5555" value="">
        </div>
    </div>
    <div class="form-group">
        <label for="message" class="col-sm-2 control-label">Message</label>
        <div class="col-sm-10">
            <textarea class="form-control" rows="4" name="message"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="human" class="col-sm-2 control-label">2 + 3 = ?</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="human" name="human" placeholder="Your Answer">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
            <input id="submit" name="submit" type="submit" value="Send" class="btn btn-primary">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
        </div>
    </div>
</form>
  </div>
  <script>
      $('#submit').click(function () {

        var email = $('#email').val(),
        name = $('#name').val(),
        phone = $('#phone').val(),
        message = $('#message').val(),
        company = $('#company').val();

        $.ajax({
            "url": "https://ntxdemo14.workflowcloud.com/api/v1/workflow/published/2f845e0c-48e7-446d-b2ef-7e97c2231308/instances?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJOV0MiLCJ3b3JrZmxvd0lkIjoiMmY4NDVlMGMtNDhlNy00NDZkLWIyZWYtN2U5N2MyMjMxMzA4IiwidGVuYW50SWQiOiJudHhkZW1vMTQiLCJpYXQiOjE0Nzk1MDY0Njl9.9boFssk6KNo58_uhzxDMCjcKIJ44T18xfS2CdOK7Zf8",
            "method": "POST",
            "contentType": "application/json",
            "dataType": "json",
            "data": JSON.stringify({
                "startData": {
                    "se_name1": name,
                    "se_email1": email,
                    "se_phone_number1": phone,
                    "se_message1": message,
                    "se_company1": company
                }
            }), 
        }).always(
            function () {
                alert("Thank you " + name + "!");
                // location.reload();
            });
    });
  </script>
</body>
</html>
</body>
</html>