<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Workflow of Things</title>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script>
 $( function(){
    $("#accordion").accordion();
  });
  setInterval(function(){

//Get current time
var newTime = new Date();
var vIP = localStorage.getItem("ipAddress");

//call temp $ajax
$.getJSON("http://" + vIP + ":8484/pi/sensors/temperature",
function(data){
$('#tVal').html((((data.value *9)/5) + 32).toFixed(2) + " F // " +
(data.value) + " C");

//configure workflow variables
var status = false,
t = (((data.value *9)/5) + 32).toFixed(2),
hT = $('#numHigh').val(),
lT = $('#numLow').val(),
email = localStorage.getItem("email"),
pNumber = localStorage.getItem("phone"),
extURL = localStorage.getItem("extStartTemp"),
txtTemp = String(t);
//u = '"' + extURL + '"';
console.log("Started new loop!");
//console.log(u);
//console.log('"' + extURL + '"');
var decT = parseFloat(t);
if((t >= hT || t <= lT) && status == false) {
  status = true;
  $.ajax({
      url: extURL, 
      method: "POST",
      contentType: "application/json",
      dataType: "json",
      data: {
        startData: {
          se_dec_temp1: decT,
          se_phone_number1: pNumber,
          se_email1: email,
          se_temp1: txtTemp
        }
      },
  }).always(
    setTimeout(function (){
      console.log("Nap Time!");
 //     return false;
    }), 10000
  );}


$('#timeVal').html("Tempurature last read at: " + newTime);
});
}, 10000);
</script>
</head>

<body>
  <div>
    <div>
      <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
        <ul class="nav navbar-nav">
          <li><a href="/">Home<span class="sr-only">(current)</span></a></li>
          <li><a href="/about">About us</a></li>
          <li class="active"><a href="/temp">Temperature Sensor</a></li>
          <li><a href="/motion">Motion Sensor</a></li>
          <li><a href="/tellme">Tell Me More</a></li>
          <li><a href="/settings">Settings</a></li>
        </ul>
      </nav>
    </div>
    <br/>
    <div class="jumbotron"><img src="https://www.nintex.com/-/media/images/nintex/icons/icon-cloud-md.ashx?h=150&w=150&la=en&hash=0E092FECCE626AF846AE350FFA3D36EE778C7CA5"
        style="position: absolute; padding-left: 10px;" />
      <div style="position: relative; padding-left: 170px; padding-top: 20px;">
        <h2>Current Temperature Reading</h2>
        <h2 id="tVal"></h2>
        <h4 id="timeVal"></h4>
      </div>
      <div id="accordion">
        <h3>Workflow Range</h3>
        <div>
          <label for="numHigh">Temp High: </label>
          <input type="number" id="numHigh" value="75" />
          <label for="numLow">Temp for Low: </label>
          <input type="number" id="numLow" value="65" />
        </div>
        <h3>Test Now</h3>
        <div>
          <input type="button" id="btnTest" value="Run Test" />
          <p id="testVal"></p>
        </div>
      </div>
      <script>  
$("#btnTest").click(function (){
  var cTemp;
  var vIP = localStorage.getItem("ipAddress");
  $.getJSON("http://" + vIP + ":8484/pi/sensors/temperature",
    function(data){
      cTemp = (((data.value *9)/5) + 32).toFixed(2);
        hTemp = $('#numHigh').val(),
        lTemp = $('#numLow').val();
        $('#testVal').html(cTemp + " - " + hTemp + " - " + lTemp);
        console.log(cTemp + " - " + hTemp + " - " + lTemp);
    });
});
</script>
</body>

</html>